<h1><%= @team.name.upcase %> </h1>
<ul>
<%= "City: #{@team.city.name}" %>
<br>
<%= "state: #{@team.city.state}" %>
</ul>
<%= link_to "Edit Teams", edit_team_path(@team) %>
<%= link_to "Delete Team", @team, method: :delete %>
